body {
	background-color: #800000;
}

.googleMap{
	position: absolute;
	left: 65vw;
	top: 2vw;
	width: 30vw;
	height: 42.5vw;
	background-color: white;
}

.streetView{
	position: absolute;
	left: 5vw;
	top: 2vw;
	width: 30vw;
	height: 42.5vw;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 5vw;
	font-size: 2vw;
}

.directionDescription{
	position:relative;
	left: 5vw;
	top: 2vw;
	width: 20vw;
	height: 10vw;
	text-align: center;
	vertical-align: middle;
}

.directionDistance{
	position:relative;
	left: 5vw;
	top: 10vw;
	width: 20vw;
	height: 10vw;
	text-align: center;
	vertical-align: middle;
}


.currentStatus{
	position: absolute;
	left: 40vw;
	top: 15vw;
	width: 20vw;
	height: 30vw;
	background-color: white;
	font-size:2vw;
}

.logo{
	position: absolute;
	left: 37.5vw;
	top: 2vw;
	max-width: 25vw;
	max-height: 10vw;
}

#studentPic {
	max-height: 10vw;
	max-width: 10vw;
	position:relative;
	top:1vw;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#studentName{
	position:relative;
	text-align: center;
	top: 3vw;
}

#UIN{
	position:relative;
	text-align: center;
	top: 4vw;
}

#route-start{
	position:relative;
	text-align: center;
	top: 5vw;
}

#route-end{
	position:relative;
	text-align: center;
	top: 6vw;
}